/******************************/
/* BASIC SETUP */
/******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}


/******************************/
/* HEADER */
/******************************/

header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(img/main-image.jpg);
    height: 100vh; /* viewport height of the header element */
    background-size: cover; /* cover vs. contain || cover is to cover the entire element's background area */
    background-position: center; /* positions the background image on the center */
    margin-bottom: 80px;
    background-attachment: fixed;

}


h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 240%;
    backface-visibility: hidden;

}


.h1-top {
    animation-name: moveToRight;
    animation-duration: 2s;
    margin: 0px;
}

.h1-bottom {
    margin-top: 10px;
    margin-bottom: 30px; /* So that the buttons are further below the h1 text */
    animation-name: moveToLeft;
    animation-duration: 2s;

}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}


@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}



h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;

}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    margin: 0 auto; /* puts the element in the center of the page */
    margin-top: 30px;
}

h3 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 110%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/******************************/
/* BUTTONS */
/******************************/


.btn:link,
.btn:visited,
input[type=submit] {
    font-weight: 350;
    text-decoration: none;
    color: #efab6e;
    border: 2px solid #e67e22;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #e67e22;
    color: white;
    transition: border-color 0.5s, border 0.5s, color 0.3s; 
}


.btn-1:link,
.btn-1:visited,
input[type=submit] {
    color: white;
    border: 2px solid #e67e22;
    background-color: #cf6d17;
}

.btn-1:hover,
.btn-1:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: white;
    background-color: #e67e22;
}

/******************************/
/* LOGO & NAVIGATION */
/******************************/


.logo {
    float: left;
    width: auto;
    height: 100px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 40px;
}


#nav-block ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.main-nav {
    float: right;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    /*margin-right: 40px;*/
    margin: 10px;
    padding-left: 20px;
  /*  text-transform: uppercase;*/
    font-size: 90%;
    font-weight: 400;
}


.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f1c40f;
    transition: 0.2s;
}


/******************************/
/* REUSABLE COMPONENTS */
/******************************/

.row {
    width: 1140px;
    margin: 0 auto;
}


section {
padding: 0px 0px 80px 0px;
}




/******************************/
/* FEATURES */
/******************************/

.long-copy {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 65%;
    margin: 0 auto;
}


/******************************/
/* ICONS */
/******************************/


.icon-big {
    font-size: 300%;
    color: #e67e22;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}


.icon-small {
    color: #e67e22;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 5px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/******************************/
/* MEALS SECTION */
/******************************/

.meals-section {
    background: #f4f4f4;
}


.meals-showcase {
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;    
}


.mealsBox {
    width: 100%;
    margin: 0;
    overflow: hidden; /* when an image gets bigger than its container, it overflows it. To avoid overflow, use overflow: hidden; */
    background: #000;
}

.mealsBox img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15); /* makes the image bigger 1.15% */
    transition: 0.5s;

}

.mealsBox img:hover {
    transform: scale(1.03);
    opacity: 1;
}


/******************************/
/* HOW IT WORKS SECTION */
/******************************/


.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}



.app-screen {
    width: 40%;
}



.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 180%;
    float: left;
    margin-right: 10px;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


/******************************/
/* CITY SECTION */
/******************************/


.section-cities {
    margin-top: 80px;
}


.box img {
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}




/******************************/
/* LINKS */
/******************************/


a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid #e67e22;

}


/******************************/
/* TESTIMONIALS */
/******************************/

.customer-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.customer-testimonials .row {
    padding-top: 60px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle;
}



/******************************/
/* PLANS SECTION */
/******************************/

.section-plans {
    padding-top: 80px;
    background: #f4f4f4;
}

.plan-box {
    background: #fff;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 10px 2px #efefef;
}


.plan-box div {
    padding: 25px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fcfcfc;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: none;
}

.plan-price {
    color: #e67e22;
    font-size: 300%;
    margin-bottom: 10px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}




/******************************/
/* CONTACT US SECTION */
/******************************/

.section-form {
    padding-top: 80px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}


.labelName {
    list-style: none;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    border: 1px solid #ccc;
}

select {
    height: 35px;
    padding-top: 3px;
}

textarea {
    height: 150px;
}

input[type=submit] {
    cursor: pointer;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}


*:focus {
    outline: none;
}



/******************************/
/* FOOTER SECTION */
/******************************/



.footer-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.foot-links,
.foot-soc-links{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.foot-links li,
.foot-soc-links li {
    list-style: none;
    text-decoration: none;
    padding: 0.5em;
}

.foot-soc-links {
    list-style: none;
    float: right;
    font-size: 170%;
}



.foot-links li a:link,
.foot-links li a:visited,
.foot-soc-links li a:link,
.foot-soc-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.5s;
}

.foot-links li a:hover,
.foot-links li a:active {
    color: #fff;
    text-decoration: none;
}


.foot-links li:last-child,
.foot-soc-links li:last-child {
    margin-right: 0;
}



footer {
    background: #333;
    padding: 40px;
}


footer p {
    text-align: center;
    color: #838383;
    padding-top: 40px;
    font-size: 80%;
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: 0.3s;
}


.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: #55acee;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: #dd4b39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: #e95950;
}



/******************************/
/* SCROLL TO TOP */
/******************************/


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; 
  background-color: #fff; 
  color: #A09F9F; 
  cursor: pointer; 
  width: 40px;
  height: 40px;
  border-radius: 20px; 
  padding-top: 4px;
  font-size: 250%; 
  font-weight: 400;
  text-align: center;
  transition: color 0.5s;
  box-shadow: 0.1px 1px 5px #A09F9F;
  border: 0px solid black;
  padding-bottom: 20px; /* Some padding */
}

#myBtn:hover {
  background-color: #fff; /* Add a dark-grey background on hover */
  color: #e67e22;
  box-shadow: 0.1px 1px 5px #e67e22;  
}



#contact-form{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
}



#contact-form label {
    line-height: 2.7em;
}


#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#submit-btn{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

